.home {
    width: 100%;
    height: 600px;

    //First background image
    //background-image: linear-gradient(135deg, $gradient-1, $gradient-2);

    //Second background image
    background-image: url("../images/bg-pattern-intro.svg"), linear-gradient(135deg, $gradient-1, $gradient-2);
    background-size: 350%, 100%;
    background-position: 35% 34%, 0% 0%;
    background-repeat: no-repeat, no-repeat;
    border-bottom-left-radius: 100px;
    padding: 5.7rem 2.5rem 0 2.5rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    height: 3.3rem;
}

.home-text-wrapper {
    //border: 1px solid greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 11rem;

    h1 {
        color: $text-white;
        font-size: 3.4rem;
        text-align: center;
        font-weight: 600;

        span {
            display: block;
        }
    }

    h2 {
        color: $text-white;
        text-align: center;
        font-weight: 300;
        margin-top: 1.3rem;
        font-size: 1.8rem;
    }
}

.btn-wrapper {
    //border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 94%;
    margin-top: 4.5rem;
}

.btn {
    //border: 1px solid blue;
    height: 4.8rem;
    width: 13.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    border-radius: 5rem;
}

.btn-first {
    background-color: $text-white;
    color: $text-red;

    &:hover {
        background-color: $text-hover-red;
        & div:not(:hover){
            color: $text-white;
        }

        div {
            &:hover {
                color: $text-white;
            }
        }
    }
}

.btn-second {
    border: 1px solid $text-white;
    color: $text-white;

    &:hover {
        background-color: $text-white;
        & div:not(:hover){
            color: $text-hover-red;
        }
    }

    div {
        &:hover {
            color: $text-hover-red;
        }
    }
}