* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Overpass", sans-serif;
}

a {
  text-decoration: none;
}

.home {
  width: 100%;
  height: 600px;
  background-image: url("../images/bg-pattern-intro.svg"), linear-gradient(135deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-size: 350%, 100%;
  background-position: 35% 34%, 0% 0%;
  background-repeat: no-repeat, no-repeat;
  border-bottom-left-radius: 100px;
  padding: 5.7rem 2.5rem 0 2.5rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  height: 3.3rem;
}

.home-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 11rem;
}
.home-text-wrapper h1 {
  color: hsl(0, 0%, 100%);
  font-size: 3.4rem;
  text-align: center;
  font-weight: 600;
}
.home-text-wrapper h1 span {
  display: block;
}
.home-text-wrapper h2 {
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-weight: 300;
  margin-top: 1.3rem;
  font-size: 1.8rem;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 94%;
  margin-top: 4.5rem;
}

.btn {
  height: 4.8rem;
  width: 13.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  border-radius: 5rem;
}

.btn-first {
  background-color: hsl(0, 0%, 100%);
  color: hsl(356, 100%, 66%);
}
.btn-first:hover {
  background-color: hsl(355, 100%, 74%);
}
.btn-first:hover div:not(:hover) {
  color: hsl(0, 0%, 100%);
}
.btn-first:hover div:hover {
  color: hsl(0, 0%, 100%);
}

.btn-second {
  border: 1px solid hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
}
.btn-second:hover {
  background-color: hsl(0, 0%, 100%);
}
.btn-second:hover div:not(:hover) {
  color: hsl(355, 100%, 74%);
}
.btn-second div:hover {
  color: hsl(355, 100%, 74%);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10.2rem 2.5rem 0 2.5rem;
}
.section h2 {
  color: hsl(208, 49%, 24%);
  font-size: 2.6rem;
  font-weight: 600;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-editor {
  margin-top: 7.8rem;
  margin-bottom: 4rem;
  width: 100%;
  transform: scale(1.25);
}

.text-block {
  text-align: center;
  width: 98%;
}
.text-block h3 {
  color: hsl(208, 49%, 24%);
  font-size: 2.8rem;
  margin-top: 4.2rem;
  line-height: 3.2rem;
}
.text-block h3 span {
  display: block;
}
.text-block p {
  margin-top: 2.5rem;
  font-size: 1.7rem;
  color: hsl(207, 13%, 34%);
  line-height: 2.8rem;
  font-weight: 300;
}

.img-laptop {
  margin-top: 7.8rem;
  margin-bottom: 6rem;
  width: 100%;
  transform: scale(1.52);
}

.phone {
  width: 100%;
  position: relative;
  height: 26.5rem;
}

.img-phones {
  position: absolute;
  top: 0;
  left: -8px;
  width: 383px;
  margin-top: 7.8rem;
}

.middle {
  height: 62.5rem;
  background-image: url("../images/bg-pattern-circles.svg"), linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-size: 163%, 100%;
  background-position: 50% -1950%, 0% 0%;
  background-repeat: no-repeat, no-repeat;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}

.text-block-phones {
  text-align: center;
  width: 98%;
}
.text-block-phones h3 {
  color: hsl(0, 0%, 100%);
  font-size: 4rem;
  margin-top: 1.4rem;
  line-height: 5rem;
}
.text-block-phones p {
  margin-top: 1.8rem;
  font-size: 1.7rem;
  color: hsl(0, 0%, 100%);
  line-height: 2.8rem;
  font-weight: 300;
}

.section-laptop {
  padding: 5rem 2.5rem 10rem 2.5rem;
}

.img-editor-desktop, .img-laptop-desktop {
  display: none;
}

.footer {
  background-color: hsl(240, 10%, 16%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7.5rem 0;
  border-top-right-radius: 100px;
}
.footer img {
  margin-bottom: 3.6rem;
}
.footer h4 {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  margin-top: 4.5rem;
  margin-bottom: 2.5rem;
}
.footer a {
  color: hsl(240, 2%, 79%);
  font-size: 1.7rem;
  padding: 0.5rem;
}

.footer-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 1s ease-in-out;
}

.btn-close {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 86%;
}

.menu-wrapper {
  background-color: hsl(0, 0%, 100%);
  width: 86%;
  border-radius: 5px;
  margin-top: 4rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 20px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
}
.menu-wrapper hr {
  color: rgb(239, 239, 241);
  width: 100%;
  margin: 2.8rem 0 1rem 0;
}

.menu-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-items-wrapper {
  width: 100%;
}

.menu-items {
  width: 100%;
}
.menu-items h4 {
  color: hsl(208, 49%, 24%);
  font-size: 1.7rem;
  padding: 1.5rem 0;
  cursor: pointer;
}
.menu-items:hover h4 {
  color: hsl(240, 2%, 79%);
}
.menu-items:hover .sub-menu {
  display: flex;
}
.menu-items:hover .arrow {
  transform: rotate(-180deg);
}

.sub-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(239, 239, 241);
  border-radius: 5px;
  width: 100%;
  padding: 1.4rem;
  display: none;
}
.sub-menu a {
  display: block;
  color: hsl(207, 13%, 34%);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
}
.sub-menu a:hover {
  color: hsl(208, 49%, 24%);
}

.arrow {
  margin-left: 1rem;
  transition: all 0.5s ease-out;
}

.btn-menu-wrapper {
  font-size: 1.7rem;
}

.btn-login {
  color: hsl(208, 49%, 24%);
  margin-bottom: 1rem;
}
.btn-login:hover {
  background-color: hsl(240, 10%, 16%);
}
.btn-login:hover div:not(:hover) {
  color: hsl(0, 0%, 100%);
}
.btn-login:hover div:hover {
  color: hsl(0, 0%, 100%);
}

.btn-singup {
  background-image: linear-gradient(135deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  color: hsl(0, 0%, 100%);
}
.btn-singup:hover {
  background-image: none;
  border: 1px solid hsl(356, 100%, 66%);
}
.btn-singup:hover div:not(:hover) {
  color: hsl(355, 100%, 74%);
}
.btn-singup:hover div:hover {
  color: hsl(355, 100%, 74%);
}

.menu-hide {
  left: 100vw;
  opacity: 0;
}

.hamburger {
  transition: all 1s ease-in-out;
}

.hamburger-hide {
  opacity: 0;
}

@media screen and (min-width: 992px) {
  .menu {
    position: static;
    width: 100%;
    height: auto;
    padding: 0;
  }
  .btn-close {
    display: none;
  }
  .menu-wrapper {
    background-color: transparent;
    width: 100%;
    border-radius: 0;
    margin-top: 0;
    box-shadow: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  .menu-wrapper hr {
    display: none;
  }
  .menu-items-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    margin-left: 5%;
  }
  .menu-items {
    position: relative;
  }
  .menu-items h4 {
    color: hsl(0, 0%, 100%);
    opacity: 0.75;
  }
  .menu-items:hover h4 {
    color: hsl(0, 0%, 100%);
    opacity: 1;
    text-decoration: underline;
  }
  .menu-items:hover .arrow {
    opacity: 1;
  }
  .sub-menu {
    position: absolute;
    align-items: flex-start;
    background-color: hsl(0, 0%, 100%);
    display: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1) 0px 20px 30px rgba(0, 0, 0, 0.1);
  }
  .sub-menu a:hover {
    font-size: 1.8rem;
    color: hsl(208, 49%, 24%);
  }
  .arrow {
    filter: brightness(200%);
    opacity: 0.75;
  }
  .btn-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
  }
  .btn-login {
    color: hsl(0, 0%, 100%);
    margin-bottom: 0;
  }
  .btn-singup {
    background-image: none;
    background-color: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
  }
  .btn-singup:hover {
    border: none;
    background-color: hsl(355, 100%, 74%);
  }
  .btn-singup:hover div:not(:hover) {
    color: hsl(0, 0%, 100%);
  }
  .btn-singup:hover div:hover {
    color: hsl(0, 0%, 100%);
  }
  .menu-hide {
    left: 0;
    opacity: 1;
  }
  .hamburger {
    display: none;
  }
  /*
  Home
  */
  .home {
    padding: 5.7rem 17rem 0 17rem;
    background-size: 220%, 100%;
    background-position: 25% 52%, 0% 0%;
  }
  .home-text-wrapper h1 {
    font-size: 6rem;
  }
  .home-text-wrapper h1 span {
    display: initial;
  }
  .home-text-wrapper h2 {
    font-size: 2rem;
  }
  .btn-wrapper {
    justify-content: center;
    gap: 1.5%;
  }
  /*
  SECTION
  */
  .img-editor, .img-laptop {
    display: none;
  }
  .img-editor-desktop {
    display: block;
    position: absolute;
    left: 56%;
    top: 10%;
  }
  .section {
    position: relative;
    overflow: hidden;
    padding: 15.5rem 17rem 22rem 17rem;
  }
  .section h2 {
    font-size: 4rem;
  }
  .text-block {
    width: 48%;
    text-align: left;
  }
  .text-block h3 {
    margin-top: 10.5rem;
  }
  .text-block h3 span {
    display: initial;
  }
  .content-wrapper {
    align-items: flex-start;
  }
  .phone {
    height: 4rem;
  }
  .img-phones {
    z-index: 1;
    top: -11rem;
    left: 12rem;
    width: 55rem;
  }
  /*
  MIDDLE SECTION
  */
  .middle {
    align-items: flex-end;
    height: 40rem;
    background-size: 70%, 100%;
    background-position: -48% 81%, 0% 0%;
  }
  .middle .content-wrapper {
    width: 49%;
  }
  .text-block-phones {
    text-align: left;
    width: 100%;
  }
  .text-block-phones h3 {
    font-size: 3.8rem;
    margin-top: 8rem;
  }
  .section-laptop .content-wrapper {
    align-items: flex-end;
  }
  .img-laptop-desktop {
    position: absolute;
    left: -19%;
    top: 12%;
    display: block;
  }
  /*
      FOOTER
  */
  .footer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 15rem;
    padding-right: 35rem;
  }
  .footer h4 {
    margin-top: 0;
  }
  .footer-block {
    justify-content: flex-start;
  }
}/*# sourceMappingURL=style.css.map */