// Colors

// Primary

$text-red: hsl(356, 100%, 66%);
$text-hover-red: hsl(355, 100%, 74%);
$headings: hsl(208, 49%, 24%);

// ### Neutral

$text-white: hsl(0, 0%, 100%);
$footer-text: hsl(240, 2%, 79%);
$text-blue: hsl(207, 13%, 34%);
$bg-footer: hsl(240, 10%, 16%);

// ### Gradient

// Background gradient - Intro/CTA mobile nav:

$gradient-1: hsl(13, 100%, 72%);
$gradient-2: hsl(353, 100%, 62%);

// Background gradient - body:

$gradient-3: hsl(237, 17%, 21%);
$gradient-4: hsl(237, 23%, 32%);

$bg-sub-menu: rgb(239, 239, 241);

@import "general";
@import "home";
@import "section";
@import "footer";
@import "menu";
@import "media1440";